<div *ngIf="!name; else forminfo">
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Reactive Form</h1>

        <label>Name
          <input type="text" formControlName="name">
        </label>
        <div class="alert" *ngIf="!f.name.valid && f.name.touched">{{ titleAlert }}</div>

        <label>Description
          <textarea formControlName="description"></textarea>
        </label>
        <div class="alert" *ngIf="!f.description.valid && f.description.touched">
          <div *ngIf="f.description.errors.required">The Description field is required.</div>
          <div *ngIf="f.description.errors.minlength || f.description.errors.maxlength">
            Description must be in between 30 and 200 characters.
          </div>
          
        </div>

        <label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On

        <input type="submit" value="Submit Form" class="button expanded" [disabled]="!rForm.valid">
      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{ name }}</h1>
      <p>{{ description }}</p>
    </div>
  </div>
</ng-template>